@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;600&display=swap');

body {
    box-sizing: border-box;
    width: 100%;
    background-color: black;
    color: #f6f6f6;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10% 15%;
}

.presentation{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentation__titulo{
    font-size: 2.3rem;
    font-family: 'Krona One', sans-serif;
}

.presentation__paragrafo{
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

.presentation__links{   
    display: flex;
    justify-content: space-around;
}

.links__botao{
    background-color: #22d4df;
    border-radius: 5px;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 20px 0;
    text-align: center;
    text-decoration: none;
    width: 45%;
}

.foto-eu{
    height: 350px;
    width: 350px;
    border-radius: 10px;
}

.titulo-destaque {
    color: #22d4df;
}