@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.container{
    align-items: center;
    display: flex;

}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 3.5rem;
}

.cabecalho__link{
    color: #22d4df;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.presentation{
    align-items: center;
    display: flex;
    padding: 5rem 8rem;
    gap: 3.25rem;
}

.presentation__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 50%;
}

.presentation__titulo{
    font-size: 2.3rem;
    font-family: 'Krona One', sans-serif;
}

.presentation__paragrafo{
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
}

.presentation__subtitle{
    font-family: 'krona One', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.presentation__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.links__botao{
    border: 2px solid #22d4df;
    border-radius: 8px;
    color: #22d4df;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 0;
    text-align: center;
    text-decoration: none;
    width: 50%;
}

.links__botao:hover{
    background-color: #272727;
    scale: 1.1;
}

.botao:hover{
    /* color: purple; */
    scale: 1.1;
}

.foto-eu{
    border-radius: .8rem;
    width: 20rem;

}

.titulo-destaque {
    color: #22d4df;
}

.rodape{
    background-color: #22d4df;
    color: #000000;
    padding: 1.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho{
        padding: 10%;
    }

    .presentation{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__container{
        width: auto;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .foto-eu{
        width: 15rem;
    }

}
